{"filter":false,"title":"infection.json.dist","tooltip":"/infection.json.dist","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":3,"column":20},"end":{"row":4,"column":18},"action":"remove","lines":[",","            \"View\""],"id":17}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":20},"end":{"row":3,"column":20},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1616166906601,"hash":"b095d4e48015489a4faeffdf1eb268d51715d856"}