{
    "source": {
        "directories": [
            "Domain"
        ],
    "excludes": [
            "/\\DTO\\.php/",
            "/\\Test\\.php/",
            "/\\TestDataFactory\\.php/"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}