<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
    bootstrap="bootstrap.php"
         colors="true"
         verbose="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix=".php">./Domain</directory>         
            <directory suffix=".php">./Persistance</directory>               
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Domain</directory>         
            <directory suffix=".php">./Persistance</directory>               
            <exclude>
                <directory suffix="Data.php">.</directory>   
                <directory suffix="DTO.php">.</directory>                   
                <directory suffix="Test.php">.</directory>      
                <directory suffix="TestDataFactory.php">.</directory>      
                <directory suffix="TestTrait.php">.</directory>                   
            </exclude>
        </whitelist>
    </filter>    
</phpunit>
